<footer>
    <div class="footer">
		<div ><a style="text-decoration:none; color: gray;" href="">api</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="text-decoration:none; color: gray;" href="https://sbr08012.tistory.com/">블로그</a></div>
        <p></p>
		<div >Copyright © <%= new Date().getFullYear() %></div>
	</div>

</footer>
  